*
!/COPYING
!/.gitignore
!/examples
!/README.org
# limit the number of subdirectories
!/benchmarks/
!/benchmarks/*/
!/code/
!/code/*/
!/examples/
!/examples/*/
# Source Code
!*.lisp
!*.asd
!*.sh
!*.c
!*.py
# NumPy Data
!*.npy
